[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
pyyaml = "*"
jupyter = "*"
matplotlib = "*"
scikit-learn = "*"
pyvalem = {git = "https://github.com/xnx/pyvalem"}
mendeleev = "*"

[dev-packages]

[requires]
python_version = "3.9"
